#logout {
    position: absolute;
    top: 50px;
    right: 50px;
}

#table-div {
    margin: auto;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    overflow-x: auto;
}

#form-div {
    margin: auto;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 50px;
}

#sign-in {
    text-align: center;
    margin: auto;
    margin-top: 75px;
    width: 25%;
}

#inputPassword {
    margin-bottom: 10px;
}

#dont {
    margin-top: 10px;
    margin-bottom: 10px;
}

#create-user-form {
    text-align: center;
    margin: auto;
    margin-top: 75px;
    width: 25%;
}

#inputPasswordCreate {
    margin-bottom: 10px;
}

#already {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    #sign-in {
        text-align: center;
        margin: auto;
        margin-top: 10px;
        width: 100%;
    }

    #create-user-form {
        text-align: center;
        margin: auto;
        margin-top: 10px;
        width: 100%;
    }
}


@media only screen and (max-width: 550px) {
    #logout {
        position: relative;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin-bottom: 15px;
    }

}